@model IEnumerable<TP6_ICS_G10_2024.Models.PedidosVM>
@{
    ViewData["Title"] = "Bienvenidos";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th id="encabezado" colspan="10"><h1>Pedidos</h1></th>
            </tr>
            <tr>
                <th class="align-content-center">Número</th>
                <th class="align-content-center">Fecha de Retiro</th>
                <th class="align-content-center">Fecha de Entrega </th>
                <th class="align-content-center">Dirección de Retiro</th>
                <th class="align-content-center">Dirección de Entrega</th>
                <th class="align-content-center">Tipo de carga</th>
                <th class="align-content-center">Imagen</th>
                <th class="align-content-center">Observaciones</th>
                <th class="align-content-center">Forma de pago preferida</th>
                <th class="align-content-center">Cotización</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var Pedido in Model)
                {
                    <tr>
                        <td class="align-content-center">@Pedido.Id</td>
                        <td class="align-content-center">@Pedido.FechaRetiro.ToString("dd/MM/yyyy")</td>
                        <td class="align-content-center">@Pedido.FechaEntrega.ToString("dd/MM/yyyy")</td>
                        <td class="align-content-center">@Pedido.DomicilioRetiro.Calle @Pedido.DomicilioRetiro.Numero, @Pedido.DomicilioRetiro.Localidad.Nombre, @Pedido.ProvinciaRetiro.Nombre, @Pedido.PaisRetiro.Nombre</td>
                        <td class="align-content-center">@Pedido.DomicilioEntrega.Calle @Pedido.DomicilioEntrega.Numero, @Pedido.DomicilioEntrega.Localidad.Nombre, @Pedido.Provincia.Nombre, @Pedido.Pais.Nombre</td>
                        <td class="align-content-center">@Pedido.TipoCarga.Nombre</td>
                        <td class="align-content-center">
                            @if (Pedido.Imagen != null && Pedido.Imagen.Length > 0 && !Pedido.Imagen.SequenceEqual(new byte[0]))
                            {
                                <img loading="lazy" src="data:image/jpeg;base64,@Convert.ToBase64String(Pedido.Imagen)" alt="@Pedido.Id" />

                            }
                            else
                            {
                                <img src="~/Imagenes/nofoto.png" />

                            }
                        </td>
                        <td class="align-content-center">
                            @Pedido.Observaciones
                        </td> 
                        <td class="align-content-center">
                            @Pedido.FormaDePago.Nombre
                        </td>
                        <td class="align-content-center">
                            <button type="button" class="btn btn-rounded bg-white">Cotizar pedido</button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>